.gradient {
    background: linear-gradient(270deg, #087AFF 38.5%, #A3FFE3 98.16%);
    opacity: 0.85;
    filter: blur(89.5px);
    z-index: -1;
}

.addUser:hover svg path {
    stroke: #A3FFE3;
    transition: stroke .2s;
}


.addUser:active svg path {
    stroke: #A3FFE3;
    transition: stroke .2s;
}