<div class="main-container w-full p-[15px]">
    <!-- participants 18 more -->
    <div class="flex justify-between">
        <div class="relative w-12 h-4">
            <img *ngFor="let user of ['user1', 'Roger Korsgaard', 'Charlie Herwitz']; let i = index"
                class="absolute rounded-full w-4 h-4 object-cover" [style.margin-left.px]="i * 10"
                [src]="'assets/users-img/' + user + '.svg'" alt="Image {{ i + 1 }}">
            <div class="h-4 w-4 rounded-full absolute ml-[30px] flex 
            bg-[#2B2E30] items-center justify-center text-[8px]">
                18
            </div>
        </div>
        <div class="text-[10px] opacity-50">
            Too late to join
        </div>
    </div>

    <div class="mt-[18px] text-xl opacity-50 font-medium">
        Weekly Challenges
    </div>
    <!-- winners -->
    <div class="mt-[22px] mb-[20px] flex flex-col gap-[10px]">
        <div *ngFor="let i of [1,2,3]" class="flex rounded-lg bg-black overflow-hidden relative">
            <div class="min-w-[50px] relative w-[50px] bg-green-200 tracking-[1.32px] ">
                <div
                    class="absolute flex items-start justify-start top-[-5px] left-[6px] text-[#0B254D] italic opacity-20 font-semibold gap-[2px]">
                    <span class="text-[33px] align-self-start">1</span>
                    <span class="text-xl align-self-end">st</span>
                </div>
                <img class="w-[48px] h-[41px] absolute top-[18px] left-[11px]"
                    src="assets/users-img/Charlie Herwitz.svg" [alt]="'Winner'+i">

            </div>
            <div class="ml-[22px] w-full relative">
                <div class="mt-2 flex gap-[5px]">
                    Roger Korsgaard
                    <img src="assets/verified.svg" alt="verified">
                </div>
                <!-- stats -->
                <div class="flex mb-[11px]">
                    <div class="flex mr-[42px]">
                        <div class="mr-[10px]">
                            <div class="text-sm font-medium">20</div>
                            <div class="text-[10px] opacity-50">Alerts</div>
                        </div>
                        <div class="mr-[10px]">
                            <div class="text-sm font-medium">85%</div>
                            <div class="text-[10px] opacity-50">Win Rate</div>
                        </div>
                        <div>
                            <div class="text-sm font-medium">11%</div>
                            <div class="text-[10px] opacity-50">Yield</div>
                        </div>
                    </div>
                    <!-- income -->
                    <div class="text-[#88FFC7] text-right">
                        <div class="text-sm">+ $7,500</div>
                        <div class="text-[10px]">45%</div>
                    </div>
                </div>
                <div class="gradient absolute top-0 w-full h-full"></div>
            </div>
        </div>
    </div>

    <div class="flex justify-between">
        <div class="flex">
            <div class="flex">
                <img src="assets/users-img/Roger K.svg" alt="">
                <div class="ml-2">
                    <div class="text-[10px] font-medium">Roger K</div>
                    <div class="text-[8px] opacity-50">@rog13k</div>
                </div>
            </div>
            <div class="ml-[10px] flex">
                <img src="assets/xBitsCircle.svg" alt="">
                <div class="ml-2">
                    <div class="text-[10px] font-medium">20,000</div>
                    <div class="text-[8px] opacity-50">@xBits prize</div>
                </div>
            </div>
        </div>
        <div class="flex">
            <div
                class="w-6 h-6 flex items-center justify-center bg-[#261516] rounded-full border-[#FF6F6F] border-[0.5px]">
                <span class="text-[#FF6F6F] text-xs">3</span>
            </div>
            <div class="ml-2">
                <div class="text-[10px] text-[#FF6F6F] font-medium">Days</div>
                <div class="text-[8px] text-[#FF6F6F]">past</div>
            </div>
        </div>
    </div>
    <div class="mt-[25px] px-[45px] py-[14px] flex items-center justify-center rounded-[13px] 
    bg-[#303236] border-[0.5px] border-solid border-white border-opacity-20 
    text-xs font-semibold tracking-[1.2px] opacity-80">
        VIEW
    </div>
</div>
