<div class="main-container w-full p-[15px]">
    <!-- participants 18 more -->
    <app-participants [isLate]="contest.isFinished" [participants]="contest.participants"></app-participants>

    <div class="mt-[18px] text-xl font-medium" [style]="contest.isFinished ?'opacity:0.5':null">
        {{contest.name}}
    </div>
    <!-- leaders -->
    <app-leaders [leaders]="leaders"></app-leaders>
    <!-- sponsor  -->
    <app-sponsor [days]="contest.days" [isFinished]="contest.isFinished" [sponsor]="contest.sponsor"></app-sponsor>
    <!-- view button  -->
    <div class="mt-[25px] px-[45px] py-[14px] flex items-center justify-center rounded-[13px] 
    bg-[#303236] border-[0.5px] border-solid border-white border-opacity-20 
    text-xs font-semibold tracking-[1.2px] opacity-80 hover:bg-[#14171A] transition-colors cursor-pointer">
        VIEW
    </div>
</div>