/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    margin: auto;
    background-color: #000;
    font-family: 'Poppins', sans-serif;
}